@charset "utf-8";
.container{
	width:80%;
	margin: 0 auto;
}
img{
	width: 100%;
	height: auto;
}

.box1{
	position: absolute;
	top: 8px;
	right: 16px;
	
}
.box2{
	position: fixed;
	top: 2px;
	left: 16px;
	background-color: aqua;
	padding: 10px 20px;
}
.box3{
	position: relative;
	margin-top: 50px;
	top: 50px;
	
}
.box4{
	position: sticky;
	top: 5px;
	bottom: 10px;
}
.box5{
	position: float left;
	margin-left: auto;
	
}
.insidebox2{
	
}